{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel='stylesheet' href='{% static "login/styles.css" %}'>
</head>
<body>
    <form action='/home/' method='GET'>
        <section id='usersec'>
            <label for='username'>Username: </label>
            <input id='username' type='text' required name='username'>
        </section>
        <section id='pwsec'>
            <label for='password'>Password: </label>
            <input id='password' type='password' name='password' required>
        </section>
        <button id='login' type='submit'>Login</button>
    </form>
    {% if login_error %}
    <div id='login_error'>Invalid credintials</div>
    {% endif %}
</body>
</html>