#firstname, #lastname, #username, #email, #password{
    margin: 10px;
}
fieldset{
    border-style: none;
}
form{
    border: 1px solid black;
    width:330px;
    padding: 20px;
    background-image: linear-gradient(70deg, rgb(233, 36, 36), rgb(226, 121, 121));
}
#submit{
    margin-left:120px;
    padding: 10px;
    border-radius: 10%;
    border: 1px solid black;
}
:root{
    font-family: sans-serif;
}
#sec1{
    display: flex;
    justify-content: space-between;
}
#sec2{
    margin:100px;
}
#error{
    font-size: 9pt;
    font-weight: bold;
    padding: 20px;
    color: white;
    background-color: red;
    text-align: center;
    width:330px;
    border:1px solid black;
}