#header{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#btn_container{
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin: 0 auto;
}
#register, #login{
    padding: 20px;
    border: 1px solid black;
    font-family: sans-serif;
}