#login{
    border: 1px solid black;
    padding: 15px;
}
:root{
    font-family: sans-serif
}
form{
    background-image: linear-gradient(85deg, gold, rgb(248, 248, 153));
    width: 1000px;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    height: 40px;
    margin: 5px;
    margin-top: 20px;
}
#login_error{
    color: white;
    background-color: red;
    width: 1000px;
    padding: 20px;
}
#usersec, #pwsec{
    margin-top: 10px;
}